// https://github.com/recharts/recharts/blob/master/.eslintrc

/**
* @type { import("eslint").Options }
*/
{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:storybook/recommended",
    "@ocupop/eslint-config"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["./storybook/**/*.stories.@(ts|tsx)", "./storybook/**/*.@(ts|tsx)", "*.js"],
      "rules": {
        "react/prop-types": "off",
        "no-useless-constructor": "off",
        "import/no-default-export": "off",
        "react-hooks/rules-of-hooks": "off"
      }
    }
  ]
}
