.ocu-richinput{
  .form-input{
    @apply border-none p-0
  }
  .ql-editor{
    @apply h-28;
  }
  .ql-toolbar{
    @apply rounded-t-md;
  }
  .ql-container{
    @apply rounded-b-md;
  }
  &.invalid .quill{
    background:none;
    .ql-toolbar{
      @apply border-t-warning border-r-warning border-l-warning border-t-2 border-r-2 border-l-2;
    }
    .ql-container{
      @apply bg-no-repeat;
      background-size:1.25rem;
      background-position:right 1rem top 1rem;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 639 639' style='enable-background:new 0 0 639 639;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DB363E;%7D%0A%3C/style%3E%3Cpath class='st0' d='M319.5,0C143,0,0,143,0,319.5S143,639,319.5,639S639,496,639,319.5S496,0,319.5,0z M369.8,137l-15.7,265h-69.9 l-14.1-265H369.8z M319.9,544c-27.6,0-50-22.4-50-50c0-27.6,22.4-50,50-50c27.6,0,50,22.4,50,50C369.9,521.6,347.5,544,319.9,544z' /%3E%3C/svg%3E");
      @apply border-b-warning border-r-warning border-l-warning border-2;
    }
  }
}